h1{
    text-align: center;
    font-family:'East Sea Dokdo', cursive;
}
td{
    background-color: black;
    height: 400px;
    width: 200px; 
    border: 10px solid white;   
}
.art{
    margin: auto;

}
#one{
    background-color: #4E5340;
}
#two{
    background-color: #697268;
}
#three{
    background-color: #95A3A4;
}
#four{
    background-color: #B7D1DA;
}
#five{
    background-color: #E2E8DD;
}